<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dodream.web.fitners.auction.mapper.BiddingMapper">

    <select id="selectBidding" resultType="org.dodream.web.fitners.auction.domain.Bidding">
        select ta.ano,
               temp.bidno,
               tid,
               tname,
               temp.price,
               readDate,
               group_concat(awardname) as awardname
        from tbl_auction ta
                 left join (select ano,tb.bidno, tb.tid, tname, price, readDate, awardname
                            from tbl_bidding tb
                                     left join tbl_trainer_award tta on tb.tid = tta.tid) temp
                           on ta.ano = temp.ano
        where ta.ano = #{ano}
        group by tid
    </select>



</mapper>