<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dodream.web.fitners.security.mapper.MemberMapper">

    <resultMap id="memberMap" type="org.dodream.web.fitners.security.domain.Member">
        <id property="mid" column="mid"/>
        <result property="mpassword" column="mpassword"/>
        <result property="mname" column="mname"/>
        <result property="memail" column="memail"/>
        <result property="regDate" column="regDate"/>
        <result property="modDate" column="modDate"/>
        <result property="disabled" column="disabled"/>

        <collection property="roleList" resultMap="memberRoleMap"/>
    </resultMap>

    <resultMap id="memberRoleMap" type="org.dodream.web.fitners.security.domain.MemberRole">
        <result property="mid" column="mid"/>
        <result property="role" column="role"/>
    </resultMap>


    <select id="findByMid" resultMap="memberMap">
        select * from tbl_member m left join tbl_member_role r on m.mid = r.mid
        where m.mid = #{mid}
    </select>

    <insert id="signUpMember">
        insert into tbl_member (mid, mpassword, mname, memail) values (#{mid}, #{mpassword}, #{mname}, #{memail});
        insert into tbl_member_role (mid, role) values (#{mid}, 'ROLE_MEMBER')
    </insert>

</mapper>